<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1897">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                
                <h2 class="cs-title" data-aos="fade-up">Witness The Difference and Our Results</h2>
            </div>
            <a class="cs-button-solid" href="" data-aos="fade-up" data-aos-delay="200">View All</a>
        </div>
        <!--Gallery-->
        
        <div class="cs-gallery">
            <!--
            <div class="cs-item">
                <p class="cs-item-text">iPhone Screen Repair</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-before.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-before.jpg">
                        <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-before.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-after.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-after.jpg">
                        <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-after.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">Phone Battery Replacement</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.jpg">
                        <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-after-1.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-after-1.jpg">
                        <img loading="lazy" decoding="async" src="https://csimages2.nyc3.digitaloceanspaces.com/Images/MISC/derma-gallery-after-1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            -->
            <div class="cs-item" data-aos="zoom-in-up">
                <p class="cs-item-text">Gaming Console Cleanup/Overheating Repair</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/photos/dirty_p5.jpeg">
                        <source media="(min-width: 601px)" srcset="/photos/dirty_p5.jpeg">
                        <img loading="lazy" decoding="async" src="/photos/dirty_p5.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/photos/IMG_9492.jpeg">
                        <source media="(min-width: 601px)" srcset="/photos/IMG_9492.jpeg">
                        <img loading="lazy" decoding="async" src="/photos/IMG_9492.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item" data-aos="zoom-in-up" data-aos-delay="200">
                <p class="cs-item-text">Laptop Repair and Upgrade</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/photos/lap_assembly.jpeg">
                        <source media="(min-width: 601px)" srcset="/photos/lap_assembly.jpeg">
                        <img loading="lazy" decoding="async" src="/photos/lap_assembly.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/photos/lap_completed.jpeg">
                        <source media="(min-width: 601px)" srcset="/photos/lap_completed.jpeg">
                        <img loading="lazy" decoding="async" src="/photos/lap_completed.jpeg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
        </div>
    </div>
    <img class="cs-graphic cs-graphic-top" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/derma-bg-1.svg" alt="graphic" width="517" height="469" loading="lazy" decoding="async" aria-hidden="true" >
    <img class="cs-graphic cs-graphic-bottom" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/derma-bg-2.svg" alt="graphic" width="517" height="469" loading="lazy" decoding="async" aria-hidden="true" >
</section>
                                
<style>
    /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1897 {
    padding: var(--sectionPadding);
    background-color: var(--backgroundColor);
    overflow: hidden;
    position: relative;
  }
  #gallery-1897 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
  }
  #gallery-1897 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    z-index: 1;
  }
  #gallery-1897 .cs-title {
    font-family: 'Francois One', sans-serif;
    max-width: 25ch;
    margin: 0;
  }
  #gallery-1897 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--secondary);
    overflow: hidden;
    color: var(--headerColor);
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #gallery-1897 .cs-button-solid:before {
    content: "";
    width: 0;
    height: 100%;
    background: var(--headerColor);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #gallery-1897 .cs-button-solid:hover {
    color: var(--backgroundColor);
  }
  #gallery-1897 .cs-button-solid:hover:before {
    width: 100%;
  }
  #gallery-1897 .cs-gallery {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
  }
  #gallery-1897 .cs-item {
    width: 100%;
    padding: clamp(1rem, 4vw, 2rem);
    background-color: var(--backgroundColor);
    border: 4px solid var(--headerColor);
    box-shadow: 6px 6px 0 0 var(--headerColor);
    display: grid;
    column-gap: clamp(0.5rem, 2vw, 1rem);
    row-gap: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    transition: transform 0.1s, box-shadow 0.1s;
    cursor: pointer;
  }
  #gallery-1897 .cs-item:hover {
    transform: translate(-2px, -2px);
    box-shadow: 8px 8px 0 0 var(--headerColor);
  }
  #gallery-1897 .cs-item-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    grid-column: span 2;
  }
  #gallery-1897 .cs-picture-group {
    height: clamp(10rem, 23vw, 20rem);
    overflow: hidden;
    grid-column: span 1;
    position: relative;
    border: 1px solid var(--headerColor);
    box-sizing: border-box;
    display: block;
  }
  #gallery-1897 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
  }
  #gallery-1897 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 0;
  }
  #gallery-1897 .cs-tag {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5em;
    padding: 0.25rem 0.75rem;
    background: var(--primary);
    color: var(--headerColor);
    border: 1px solid var(--headerColor);
    position: absolute;
    bottom: clamp(0.5rem, 2vw, 1rem);
    left: clamp(0.5rem, 2vw, 1rem);
  }
  #gallery-1897 .cs-graphic {
    display: none;
  }
  #gallery-1897 .cs-graphic-top {
    top: 0;
    right: -8.875rem;
  }
  #gallery-1897 .cs-graphic-bottom {
    bottom: 0;
    left: 0;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-1897 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #gallery-1897 .cs-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  #gallery-1897 .cs-graphic-top {
    right: -8.375rem;
    transform: initial;
  }
  #gallery-1897 .cs-graphic-bottom {
    left: -7.5rem;
    transform: initial;
  }
}
/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #gallery-1897 .cs-graphic-top {
    margin-left: 15rem;
    left: 50%;
  }
  #gallery-1897 .cs-graphic-bottom {
    margin-right: 16.25rem;
    right: 50%;
    left: initial;
  }
}
                                
</style>